/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");/* asterisk for wildcard to override default styles in browser */

/* Asterisk wildcard to override default styles in browser */
* {padding: 0; margin: 0; box-sizing: border-box;}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/* project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
   
}

/*header color*/
header {
    background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: #3a3a3a 0px 2px 2px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    
}
/* main color */
main {background-color: lightblue;
    /* main content to take up any remaining space */ 
flex: 1 0 auto;}

/* footer color */
footer {background-color: orange;}